header {
  background-color: #0b3c5d;
  border: 5px solid #1d2731;
  color: #d9b310;
  text-align: center;
  padding: 15px 0px;
}

.loading {
  color: #100058;
  text-align: center;
  padding: 15px 0px;
}

.container {
  padding-top: 20px;
  padding-bottom: 20px;
  display: grid;
  grid-gap: 4px;
  grid-template-columns: 230px 1fr 1fr 8fr;
  grid-template-rows: repeat(3, 1fr);
}

.img {
  grid-column: 1/2;
  grid-row: 1/4;
}

.reponame {
  grid-column: 2/5;
  grid-row: 1/2;
}

.repodescription {
  grid-column: 2/5;
  grid-row: 2/3;
}

.stars {
  grid-column: 2/3;
  grid-row: 3/4;
  padding-right: 20px;
}

.issues {
  grid-column: 3/4;
  grid-row: 3/4;
  padding-right: 20px;
}

.subby {
  grid-column: 4/5;
  grid-row: 3/4;
  padding-left: 20px;
  padding-right: 30px;
}

.stars h3 {
  border: 3px solid #000;
  border-radius: 5px;
  padding-left: 5px;
}

.issues h3 {
  border: 3px solid #000;
  border-radius: 5px;
  padding-left: 5px;
}

img {
  border: 5px solid rgb(17, 1, 31);
  border-radius: 10px;
  width: 190px;
  height: 190px;
  display: block;
  grid-column: 1/2;
  grid-row: 1/4;
}

body {
  background-color: #dddddd;
  color: rgba(12, 15, 19, 0.986);
  font-family: "Trebuchet MS", Helvetica, sans-serif;
}

.button {
  background: transparent;
  border: 2px solid transparent;
  box-sizing: border-box;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1;
  margin: 18px;
  padding: 15px 25px;
  text-align: center;
  display: inline-block;
  position: relative;
  top: 0;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
}

li {
  list-style: none;
}
